header {
    width: 80%;
    height: 95vh;
    /* border: 1px solid #000; */
    margin: auto;
}
header nav {
    width: 95%;
    height: 7%;
    /* border: 1px solid #000; */
    margin: 20px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav ul{
    list-style: none;
    display: flex;
}
header nav ul li{
    padding: 3px 15px;
}
header nav ul li:nth-last-child(1){
    background: #000;
    border-radius: 20px;
    padding: 5px 20px;
}
header nav ul li:nth-last-child(1) a{
    color: #fff;
}
header nav ul li a{
    text-decoration: none;
    color: #121213;
    font-size: 13px;
    font-weight: 500;
    transition: .3s linear;
}
header nav ul li a:hover{
    color: gray;
}

header nav .bi-three-dots {
    display: none;
}

header nav div{
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav div img{
    width: 30px;
    margin: 10px;
}